---
import PostPreview from "../components/PostPreview.astro";
import LayoutBlog from "../layouts/LayoutBlog.astro";
import Title from "../components/Title.astro";

const posts = await Astro.glob("./posts/*.md");
---


<LayoutBlog title="Blog">
<section class=" bg-black w-full h-full text-yellow-600 flex flex-col ">
    <Title title="News"></Title>
    
    { 
    posts.map((post) => (
         <PostPreview post={post} /> 
    ))
    }
    
</section>
</LayoutBlog>
