---
import { Image } from "astro:assets";
import barLeft from "../assets/bar-left.png"
---

<header class="flex items-center fixed top-0 w-full justify-between z-20">
    <nav class="  ">
        <ul class="flex text-white text-lg font-bold gap-10 px-6 py-2">
            <slot />
        </ul>

        <picture class=" opacity-90 relative top-[-2.5rem] right-[5rem]  ">
            <img class="w-full h-11" src="/assets/nav-bar-bg-left.webp" alt="" />
        </picture>
        <picture class=" relative top-[-2.5rem] left-0">
            <img class=" h-3" src={barLeft} alt="" />
        </picture>
    </nav>

    <nav class="flex flex-col justify-end relative ">

        

        <ul class="flex gap-10 text-lg font-bold justify-end py-2 mx-7 ">
            <li
            class="w-50 [&>a]:duration-200 [&>a]:font-medium [&>a]:inline-block [&>a]:text-current z-40 text-gray-400   "
            >
                <a class="">Mantente en contacto</a>
            </li>
            <li
            class="w-25 [&>a]:duration-200 [&>a]:font-medium [&>a]:inline-block  [&>a]:text-current z-40 text-gray-400 "
            >
                <a class=" ">Comprar ahora</a>
            </li>
        </ul>
        <picture class="opacity-90 rotate-180 relative top-[-2.5rem] ">
            <img class="w-full h-11" src="/assets/nav-bar-bg-left.webp" alt="" />
        </picture>
        <picture class=" rotate-180 relative top-[-2.5rem] ">
            <img class="h-3" src={barLeft} alt="" />
        </picture>
        

        
    </nav>
</header>
