<header class="flex items-center fixed top-0 w-full justify-between z-20">
    <nav class="">
        <ul class="flex text-white">
            <slot />
        </ul>

        <picture class="opacity-70 relative top-[-2.5rem] right-[5rem]">
            <img class="w-70 h-11" src="/assets/nav-bar-bg-left.webp" alt="" />
        </picture>
    </nav>

    <nav class="flex flex-col justify-end relative ">

        

        <ul class="flex ">
            <li
            class="w-50 [&>a]:duration-500 [&>a]:font-medium [&>a]:inline-block [&>a]:px-4 [&>a]:py-2 [&>a]:text-current z-40 text-white "
            >
                <a class="">Mantente en coontacto</a>
            </li>
            <li
            class="w-25 [&>a]:duration-500 [&>a]:font-medium [&>a]:inline-block [&>a]:px-4 [&>a]:py-2 [&>a]:text-current z-40 text-white "
            >
                <a class=" ">Comprar ahora</a>
            </li>
        </ul>
        <picture class="opacity-70 rotate-180 relative top-[-2.5rem] ">
            <img class="w-70 h-11" src="/assets/nav-bar-bg-left.webp" alt="" />
        </picture>

        
    </nav>
</header>
