---
import type MenuItem from '../types/types';

interface Props extends MenuItem{}

const {title, url } = Astro.props;


---

<li class="[&>a]:duration-200 [&>a]:font-medium [&>a]:inline-block [&>a]:px-1 [&>a]:text-current z-40   ">
    <a class=" hover:text-orange-400 hover:scale-110 text-white  " href={url}>{title}</a>
</li>

