---
import CardsView from "./CardsView";

import "./cardsView.css";
import type { CardItem } from "../types/types";

const cards: CardItem[] = [
  {
    title: "Be the Witch or Wizard You Want to be",
    image: "/assets/game-info-panel-01.jpg",
    description:
      "Learn spells, brew potions, grow plants, and tend to magical beasts along your journey. Get sorted into your house, forge relationships, and master skills to become the witch or wizard you want to be.",
    icon1: "/assets/game-info-icon-03.png",
    icon2: "/assets/game-info-icon-03.png",
  },
  {
    title: "Experience a New Wizarding World Adventure",
    image: "/assets/game-info-panel-02.jpg",
    description:
      "Experience the wizarding world in an unexplored era to uncover a hidden truth from its past. Battle against trolls, Dark Wizards, goblins, and more as you face a dangerous villain threatening the fate of the wizarding world.",
    icon1: "/assets/game-info-icon-01.png",
    icon2: "/assets/game-info-icon-01.png",
  },
  {
    title: "Explore an Open World",
    image: "/assets/game-info-panel-03.jpg",
    description:
      "The wizarding world awaits you. Freely roam Hogwarts, Hogsmeade, the Forbidden Forest, and the surrounding Overland area.",
    icon1: "/assets/game-info-icon-02.png",
    icon2: "/assets/game-info-icon-02.png",
  },
];
---

<section
  class=" h-full w-full  bg-fixed  max-[840px]:bg-[url('/assets/bg.webp')] max-[440px]:bg-[url('/assets/bg-bottom-m.jpg')] max-[440px]:h-[200rem] min-[841px]:h-[100rem] min-[841px]:bg-[url('/assets/bg.webp')] bg-slate-800"
>
  {/* */}

  <div
    class="flex flex-col gap-10 min-[841px]:mt-0 max-[840px]:mt-0 max-[440px]:pt-0"
  >
    {/* */}

    <div
      class="flex justify-center max-[440px]:mt-6 max-[840px]:mt-0 min-[850px]:mt-12 relative mx-auto  max-[440px]:w-3/4 max-[840px]:w-5/6 min-[900px]:w-5/6 h-auto"
    >
      {
        /*max-[430px]:h-[400px] max-[430px]:w-[600px] w-full h-[662px] max-[840px]:h-[454px]*/
      }
      <img
        class="z-10 absolute max-[440px]:mx-auto max-[840px]:w-[30rem] max-[840px]:h-[20rem] max-[440px]:w-[19rem] max-[440px]:h-[11rem] max-[440px]:mt-1 w-[63rem] h-auto"
        src="/assets/video-frame.webp"
        alt=""
      />
      <img
        class="min-[840px]:mt-7 max-[840px]:w-[29rem] max-[840px]:h-[18rem] max-[840px]:mt-4 mx-auto ml-0 max-[440px]:mt-3 z-0 absolute max-[440px]:h-[10rem] max-[440px]:w-[18rem] w-[60rem]"
        src="/assets/launch-trailer.jpg"
        alt="trailer"
      />
    </div>

    <div
      class="mx-auto min-[841px]:mt-[35rem]  h-24 w-3/4 text-yellow-100 font-semibold mb-9 max-[840px]:h-[10rem] max-[840px]:mt-[20rem] max-[440px]:h-[40rem] max-[440px]:text-2xl max-[440px]:text-center max-[440px]:mt-[10rem] "
    >
      {/*max-[430px]:w-full  max-[430px]:h-[22rem]  */}
      Hogwarts Legacy is an immersive, open-world action RPG set in the world first
      introduced in the Harry Potter books. For the first time, experience Hogwarts
      in the 1800s. Your character is a student who holds the key to an ancient secret
      that threatens to tear the wizarding world apart. Now you can take control
      of the action and be at the center of your own adventure in the wizarding world.
      Your legacy is what you make of it.
    </div>

    <div class="h-full w-full    ">
      {/* h-full w-full  */}
      <CardsView cards={cards} client:load />
    </div>
  </div>
</section>
